<!DOCTYPE html>
<html>
<head>
    <title>File Management</title>
</head>
<body>
<h1>File Management</h1>
<button onclick="compareFiles()">Compare File</button>
<button onclick="listFiles()">List of Files to Compare</button>
<button onclick="uploadFile()">Upload File</button>

<script>
    function compareFiles() {
        // Code to perform compare file action
        window.location.href = "compareForm";

    }

    function listFiles() {
        // Code to list files for comparison
        window.location.href = "getAllFiles";
    }

    function uploadFile() {
        // Code to upload a  file content
        window.location.href = "uploadForm";
    }
</script>
</body>
</html>